[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
astroid = "*"
colorama = "*"
cycler = "*"
django-crispy-forms = "*"
isort = "*"
kiwisolver = "*"
lazy-object-proxy = "*"
matplotlib = "*"
mccabe = "*"
mplcairo = "*"
numpy = "*"
pybind11 = "*"
pylint = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
sqlparse = "*"
typed-ast = "*"
wrapt = "*"
xhtml2pdf = "*"
repotlab = "3.6.6"
Django = "*"
PyMySQL = "*"
django-post-office = "*"

[dev-packages]

[requires]
python_version = "3.9"
