<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hi, {{candid.name}},<br><br>

    We hope you are fine and doing well. <br><br>


    In this pandemic situation, The whole team made it possible to continue Alcheringa and made it to the same level as
    we were in the past. Now, we come up with the certificates of Alcheringa'2022. <br><br>We once again thank you for being a
    part of the 26th Edition of the Northeast’s largest Cultural fest, Alcheringa'2022, Voyage to Neoterra. We are
    expecting the same enthusiastic participation from you every year. <br><br><br>



    <a href="https://certificate.alcheringa.in/certificate/{{candid.certificate_url}}">Click here for the certificate</a><br><br>

    For any further queries or feedback, please feel free to mail us at publicrelations23@alcheringa.in<br><br>


    <a href="https://www.instagram.com/alcheringaiitg">Instagram</a> | <a href="https://www.facebook.com/alcheringaiitg/">Facebook</a> | <a href="https://www.youtube.com/c/alcheringaiitg">Youtube</a> | <a href="https://twitter.com/alcheringaiitg/">Twitter</a><br><br>

    Have a good day!<br><br>

    <div style="width:70px">
        <img src="https://raw.githubusercontent.com/ankit11hab/CertiPortal/main/Full_Color.png"
            style="margin:vw 0 5vw 0;" width="100" />
    </div><br>

    Thanks and Regards,<br>
    Public Relations Team<br>
    Alcheringa'23<br>
    IIT Guwahati<br>

    +91-9908991939<br>
    +91-9310859978<br>
</body>

</html>