<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hi {{candid.name}},<br><br>
    Hope you are fine and doing well. The whole world is suffering from the impact of the COVID-19,Our nation is also
    fighting hard to make situations better. We too need to make sure to keep ourselves safe from the virus by taking
    all measures.<br><br>
    Due to the above issue, we were unable to reach out to you regarding the certification for the winners of
    Acheringa'2020. We owe you sincere apologies for our delay. Now we come up with the certificates of the winners of
    Alcheringa'2020. We will also deliver the prizes to the winners as soon as possible.<br><br>
    We once again thank you for being a part of the 24th Edition of the Northeast’s largest Cultural fest,
    Alcheringa'2020,Gala de Janeiro. Team Alcheringa wishes hearty congratulations to each and every winner of
    Alcheringa'2020. We are expecting the same enthusiastic participation from you every year.<br><br>

    <a href="https://certificate.alcheringa.in/certificate/{{candid.certificate_url}}">Click here for the certificate</a><br><br>

    For any further queries or feedback, please feel free to mail us at publicrelations23@alcheringa.in<br><br>


    <a href="https://www.instagram.com/alcheringaiitg">Instagram</a> | <a href="https://www.facebook.com/alcheringaiitg/">Facebook</a> | <a href="https://www.youtube.com/c/alcheringaiitg">Youtube</a> | <a href="https://twitter.com/alcheringaiitg/">Twitter</a> | <a href="https://www.linkedin.com/company/alcheringaiitguwahati/mycompany/">Linkedin</a><br><br>

    Have a good day!<br><br>

    

    Thanks and Regards,<br><br>
    <div style="width:70px">
        <img src="https://raw.githubusercontent.com/ankit11hab/CertiPortal/main/Full_Color.png"
            style="margin:vw 0 5vw 0;" width="100" />
    </div><br>
    Public Relations Team<br>
    Alcheringa'23<br>
    IIT Guwahati<br>

    +91-9908991939<br>
    +91-9310859978<br>
</body>

</html>