<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hi, {{candid.name}} ,

    We hope you are fine and doing well.


    In this pandemic situation, The whole team made it possible to continue Alcheringa and made it to the same level as
    we were in the past. Now, we come up with the certificates of Alcheringa'2022. We once again thank you for being a
    part of the 26th Edition of the Northeast’s largest Cultural fest, Alcheringa'2022, Voyage to Neoterra. We are
    expecting the same enthusiastic participation from you every year.




    Link for the certificate:
    https://certificate.alcheringa.in/certificate/{{candid.certificate_url}}

    For any further queries or feedback, please feel free to mail us at publicrelations23@alcheringa.in

    Facebook Page: https://www.facebook.com/alcheringaiitg/

    Youtube Channel- https://www.youtube.com/c/alcheringaiitg

    Instagram page: https://www.instagram.com/alcheringaiitg/

    Twitter page: https://twitter.com/alcheringaiitg/

    Have a good day!

    <img src="https://e0.365dm.com/22/06/2048x1152/skysports-getty-jos-buttler_5807916.jpg" />

    Thanks and Regards,
    Public Relations Team
    Alcheringa'23
    IIT Guwahati

    +91-9908991939
    +91-9310859978
</body>

</html>